@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,100&display=swap');


* {
    margin: 0;
    padding: 0;
} 

body {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    max-width: 1080px;
    margin: 0 auto;
}

header {
    background-color: #1f2937;
}
 ul {
     list-style-type: none;
     padding: 20px 0px 20px 0px;
     display: flex;
     gap: 10px;
     align-content: center;
     font-size: 18px;
 }

 li, a {
     color: #e5e7ec;
     text-decoration: none;
 }

 .right {
     margin-left: auto;
 }

 .logo {
     font-weight: 700;
     font-size: 24px;
     color: #f9faf8;
 }

 h1 {
     font-size: 48px;
     font-weight: 900;
     color: white;
 }

 header p, button {
     font-size: 18px;
     color: #e5e7eb;

 }

 button {
     background-color: #3882f6;
     padding: 6px 20px 6px 20px;
     margin-top: 10px;
     border-radius: 10px;
     border: 1px solid #3882f6;
 }

 .hero {
    display: flex;
    padding: 100px 0px 100px 0px;
}

 .hero-right {
     flex: 1;
     background-color: rgb(93, 93, 93);
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .hero-left {
     flex: 1;
     padding-right: 40px;

 }

 .hero-left p {
    padding-right: 60px;
 }

 h2 {
     font-size: 36px;
     color: #1f2937;
     padding: 50px;
 }
 
 .information {
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 
 .boxes {
     display: flex;
     justify-content: center;
     width: 100px;
     text-align: center;
 }

.placeholder {
    height: 130px;
    width: 130px;
    border: 3px solid #1f2937;
    border-radius: 10px;
    border-color: #3882f6;
    margin: 0px 15px 10px 15px;
}

 .boxes p {
     width: 130px;
     margin: 0px 15px 10px 15px;
     padding-bottom: 50px;
 }

 .quote {
     background-color: #e5e7eb ;
     padding: 100px 0px;
 }

 .quote-wrapper {
     width: 800px;
     margin: auto;
 }

 .quote-content{
     font-size: 36px;
     font-style: italic;
 }

 .quote-author {
     font-weight: 800;
     display: flex;
     justify-content: flex-end;
 }

 .call {
     display: flex;
     justify-content: center;
 }

 .call-to-action {
     width: 800px;
     background-color: #3882f6;
     margin: 100px;
     padding: 30px 70px;
     border-radius: 10px;
     display: flex;
     justify-content: space-between;
     color: white;
 }

 .bold {
     font-weight: 900;
 }

 .small {
     font-size: 0.9em;
 }

 .call-button {
     color: white;
     border: 1px solid #f9faf8;
     font-size: 0.8em;
 }

 footer {
     background-color: #1f2937;
     text-align: center;
 }

 footer p {
     color: #f9faf8;
     padding: 40px;
     font-size: 12px;
 }